---
import ProductCard from "./ProductCard.astro";
import { getCollection } from "astro:content";

const products = await getCollection("products");
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {products.map(({ data }) => <ProductCard {...data} />)}
</div>
